html {
  font-size: 15px;
  overflow-y: auto;
}

body {
  line-height: 1.6 !important;
}

.display-1 {
  font-size: 32px !important;
}

.display-2 {
  font-size: 40px !important;
}

ul, ol {
  padding-left: 18px;
}

.application--light {
  background: #f2f2f2;
}

.toolbar__title, .btn {
  font-weight: 400;
}

.toolbar__content {
  height: 56px !important;
}

.footer span {
  font-size: 13.5px;
}
.card__title {
  padding-bottom: 10px;
}

/* Stepper */
@media only screen and (max-width: 700px) {
  .stepper--vertical .stepper__content:not(:last-child) {
    border-left: none !important;
  }
  .stepper--vertical .stepper__content {
    margin: 0;
    padding: 5px 24px;
  }
}
