/** Vuetify Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'
$theme := {
  primary: $deep-purple.base
  secondary: $deep-purple.accent-2
  accent: #DA8722
  info: $teal.base
  warning: $amber.darken-2
  error: $red.base
  success: $green.lighten-2
}
@import '../../node_modules/vuetify/src/stylus/main'

/** Global Styles */
html
  font-size: 15px
  overflow-y: auto

body
  line-height: 1.6 !important

.display-1
  font-size: 32px !important

.display-2
  font-size: 40px !important

ul, ol
  padding-left: 18px

.application--light
  background: #F2F2F2

.toolbar__title, .btn
  font-weight: 400

.toolbar__content
  height: 56px !important

.footer span
  font-size: 13.5px

.card__title
  padding-bottom: 10px

.snack__content
  justify-content: center

/** Stepper */
div.stepper__step.stepper__step--editable.stepper__step--complete > div.stepper__label > span.subheading,
div.stepper__step.stepper__step--active.stepper__step--editable > div.stepper__label > span.subheading
  color: $theme.secondary

div.stepper__step.stepper__step--editable.stepper__step--complete > span.stepper__step__step
div.stepper__step.stepper__step--active.stepper__step--editable > span.stepper__step__step
  background-color: $theme.secondary

.application--light .stepper .stepper__step--editable:hover .stepper__label,
.application--light .stepper .stepper__step--active .stepper__label
  text-shadow: 0px 0px 0px $theme.secondary

@media only screen and (max-width: 700px)
  .application--light .stepper--vertical .stepper__content:not(:last-child)
    border-left: none
  .application--light .stepper--vertical .stepper__content
    margin: 0
    padding: 5px 24px

/** Animation */
.custom-loader
  animation: loader 1s infinite
  display: flex

@-moz-keyframes loader
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)

@-webkit-keyframes loader
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)

@-o-keyframes loader
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)

@keyframes loader
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)
