/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'
$theme := {
  primary: $deep-purple.accent-2
  accent: $purple.accent-2
  secondary: $grey.lighten-1
  info: $teal.base
  warning: $amber.darken-2
  error: $purple.accent-4
  success: $green.lighten-2
}

/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'
html {
  font-size: 15px;
}
.display-1 {
  font-size: 32px !important;
}
.display-2 {
  font-size: 40px !important;
}
.container.fluid {
  padding-top: 16px;
}
.toolbar--fixed+main {
  padding-top: 64px;
}
.application--light {
  background: #f2f2f2;
}
.toolbar__title, .btn {
  font-weight: 400;
}
.toolbar__content {
  height: 56px;
}
.footer span {
  font-size: 13.5px;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
